
.DS_Store
assignment2/task1/demo/stems/bass.wav
assignment2/task1/demo/stems/drums.wav
assignment2/task1/demo/stems/vocals.wav
assignment2/task1/demo/stems/synth.wav
assignment4/task2/3d printed parts/CE3PRO_table_axle_with_holes.gcode
